.lucky-boost-icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.icon-border {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 0px none rgba(0, 0, 0, 0);
  border-image: none;
  background: transparent;
  box-shadow: 
    0 0 6px rgba(211, 240, 21, 0.4),
    inset 0 0 3px rgba(211, 240, 21, 0.15);
  padding: 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.icon-background {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: radial-gradient(50% 71.25% at 50% 100%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0 0 4px 0 #D3FF0F;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-inside-shape {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 4px solid var(--global-neutral-grey-80, #171717);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.icon-progress-bar {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.icon-vector {
  width: 11.98px;
  height: 11.975px;
  aspect-ratio: 11.98 / 11.98;
  z-index: 2;
  position: relative;
}

.icon-percentage {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Space Grotesk";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #F27D05 -355.47%, #FFCF77 -137.02%, #FEC22B -60.47%, #D3FF0F 64.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  position: relative;
}

.icon-cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55%;
  background: var(--global-neutral-white);
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

