.reward-popup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  text-align: center;
}

.reward-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
}

.reward-logo {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}

.reward-header h2 {
  color: var(--global-neutral-white, #FFF);
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.reward-earned {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  justify-content: center;
}

.reward-earned-label {
  color: #7D7D7D;
  font-family: "Space Grotesk";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: -0.24px;
}

.reward-currency-icon {
  flex-shrink: 0;
}

.reward-earned-amount {
  color: var(--global-neutral-white, #FFF);
  font-family: "Space Grotesk";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 14.4px */
  letter-spacing: -0.24px;
}

.reward-keep-playing-button {
  width: 100%;
}
