.currency-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
}

.currency-icon svg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  display: block;
}
